.card{
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
         rgba(0,0,0,0.08) 0px 0px 0px 1px;
    background-color:rgba(241, 197, 197, 0.803);
    
}

.card img{
    width: 400px;
    height: 280px;
    object-fit: cover;
}

img{
    width: 100%;
}

.card-heading{
    margin-top: 3.2rem;
    margin-bottom: 5rem;
    text-decoration: overline underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.card-content{
    padding: 3.2rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.btn{
    padding: 1.2rem 2.4rem;
    border: none;
    font-size: 1.6rem;
    background-color: rgb(38, 20, 156);
    color: ivory;
    display: block;
    margin: 15px auto 0 auto;
    
}

.super_hit{
    background-color: #7dcea0;
}

.average{
    background-color: #f7dc6f;
}

.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}

h1{
    text-align: center;
}